@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html body,
.wrapper {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;

}

/*-------------------------------------Padding removal */

.padding-rem {
    padding: 0;
}

/*-------------------------------------Backgrounds */

.bg-img {
    top: 100%;
    width: 100%;
    background-image: url(images/Fsalam.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

}

.my-navbar {
    background-color: #181819;
}

.photo-bg,
.music,
.video,
.video-bg,
.download,
.bg-contact,
.bg-footer {
    background-color: #77773c;
}



/*-------------------------------------Brand */

.brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 20px;
    color: #74747a;
}




/*-------------------------------------Navigation */

.my-navbar {
    margin: 0;
}

.navi {
    width: 100%;
}

.width-fix {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-ul li {
    line-height: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transition: .5s ease-in-out;
}

.nav-ul li a {
    line-height: 60px;
}


.nav-ul li:hover {
    font-style: italic;
    background-color: #77773c;
    transition: .5s ease-in-out;

}


/*-------------------------------------Main Content */

/*-----------------Introduction div */

.height {
    height: 162px;
}

.intro {
    padding: 0px 0 92px 100px;
    color: #cdcdd6;
}

.social {
    font-size: 35px;
    float: right;
}

.social-links {
    padding: 0 20px 0 0;
    margin: 0;
    list-style-type: none;
}

/*-----------------Social Section*/

.social li a i {
    width: 25.21px;
    color: #000;
    font-size: 25px;
    border: 1px solid;
    border-radius: 20%;
    background-color: #77773c;
}

.social li a i:hover {
    color: #918131;
}

/*-----------------Carousel Section*/

.photo-title {
    margin: 0;
    font-size: 40px;
}

.carousel-inner img {
    margin: auto;
}

.carousel .item{
    min-height: 280px;
}
.carousel .item img{
    margin: 0 auto; 
}

.center h2 {
    margin: 0;
    text-align: center;
    height: 100px;
    padding-top: 25px;
    background-color: #77773c;
}

/*--------------------Music Section*/

.music h2,
.video {
    margin: 0;
    height: 100px;
    padding-top: 33px;
    text-align: center;
}

.music {
    padding: 0;
}

.music audio {
    width: 100%;
}

/*--------------------Video Section*/

.social-video {
    font-size: 150px;
}

.social-video ul {
    list-style: none;
}

.social-video {
    height: 311.25px;
}

.social-video ul li a i {
    color: #e02208;
}



.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/*--------------------Shop Section*/

.download {
    height: 300px;
}

.download h2 {
    text-align: center;
}

.download p {
    font-size: 30px;
}

/*--------------------Contact Section*/

button[type="submit"] {
    background-color: #e84610;
    color: #fafafa;
    margin-top: 10px;
}
    
    
.pad-contact {
    padding: 30px 15px 20px 15px;
}

/*---------------------------------------------Footer*/

footer ul li a {
    color: #3e4144;
}

footer ul li a:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.footer-social a i {
    font-size: 30px;
    color: #48484c;
}

.footer-social a i:hover {
    color: #070707;
}

/*-------------------------------------Media Queries */

@media(min-width: 768px) {
    .brand {
        font-size: 35px;
        margin: 15px 0 0 0;
    }
    .social li a i {
        width: 71.97px;
        color: #000;
        font-size: 40px;
        padding: 18px;
        border: 1px solid;
        border-radius: 20%;
        background-color: #77773c;
    }
    .intro {
        padding: 100px 0 575px 100px;
        color: #cdcdd6;
    }

    .music p {
        padding-top: 11.5px;
    }
}
