@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html body,
.wrapper {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;

}

/*-------------------------------------Padding removal */

.padding-rem {
    padding: 0;
}

/*-------------------------------------Backgrounds */

.bg-img {
    top: 100%;
    width: 100%;
    background-image: url(images/Fsalam.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #545960;
}

.my-navbar {
    background-color: #181819;
}

.photo-bg {
    background-color: #77773c;
}

/*.div-intro {
    background-color: rgba(102, 82, 0, 0.7);
}
*/

/*-------------------------------------Brand */

.brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 20px;
    color: #74747a;
}




/*-------------------------------------Navigation */

.nav-ul li {
    line-height: 120px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
    text-transform: uppercase;
    text-align: center;
}

.nav-ul li a {
    line-height: 60px;
}


.nav-ul li:hover {
    font-style: italic;
    background-color: #77773c;
    transition: .5s ease-in-out;

}


/*-------------------------------------Main Content */

/*-----------------Introduction div */

.padding-rem {
    height: 162px;
}

.intro {
    padding: 0px 0 92px 100px;
}

.intro-text {
    font-size: 18px;
    padding-top: 10px;
}


.social {
    font-size: 35px;
    float: right;
}

.social-links {
    padding: 0 20px 0 0;
    margin: 0;
    list-style-type: none;
}

/*-----------------Social Section*/

.social li a i {
    width: 25.21px;
    color: #000;
    font-size: 25px;
    border: 1px solid;
    border-radius: 20%;
    background-color: #77773c;
}

.social li a i:hover {
    color: #918131;
}

/*-----------------Carousel Section*/

.photo-title {
    height: 150px;
    background-color: #77773c;
}

.carousel-inner img {
    margin: auto;
}

/*--------------------Music Section*/

.music {
    height: 300px;
    background-color: #b3bcc6;
}

/*--------------------Download Section*/

.download {
    height: 300px;
    background-color: #13355b;
}

/*--------------------Contact Section*/

.contact {
    height: 300px;
    background-color: #6c99cc;
}

/*-------------------------------------Media Queries */

@media(min-width: 768px) {
    .brand {
        font-size: 35px;
        margin: 15px 0 0 0;
    }
    .social li a i {
        width: 91.97px;
        color: #000;
        font-size: 40px;
        padding: 18px;
        border: 1px solid;
        border-radius: 20%;
        background-color: #77773c;
    }
    .intro {
        padding: 100px 0 150px 100px;
        color: #cdcdd6;
    }
}
